@model IEnumerable<BUEnrolment.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Current Requests</h2>

<p>
    @Html.ActionLink("Create New Request", "Create")
</p>
<table>
    <tr>
        <th style="padding-right:72px">
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
             @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        @if (Roles.IsUserInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Approve", "Index", new { id=item.Id }) 
                @Html.ActionLink("Disapprove", "Index", new { id=item.Id })
            </td>
        }
    </tr>
}

</table>
