@model IEnumerable<BUEnrolment.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Current Requests</h2>

<p>
    @if (Roles.IsUserInRole("Student"))
    {
        @Html.ActionLink("Create New Request", "Create")
    }
</p>
<table>
    <tr>
        <th>
            @Html.DisplayName("Subject Number")
        </th>
        <th>
             @Html.DisplayName("Description")
        </th>
    </tr>

@foreach (var student in ViewBag.Students) {
     foreach (var request in student.Requests) {
         <tr>
             <td>
                 @Html.DisplayName((string)request.Subject.SubjectNumber)
                 @Html.DisplayName((string)request.Subject.Name)
             </td>
             <td>
                @Html.DisplayName((string)request.Description)
             </td>
             @if (Roles.IsUserInRole("Admin"))
             {
                 <td>
                     @Html.ActionLink("Approve", "Approve", new { requestId=request.Id, studentId = student.Id }) 
                     @Html.ActionLink("Disapprove", "Disapprove", new { requestId=request.Id, studentId = student.Id })
                 </td>
             }
         </tr>
     }
}

</table>
